main {
  padding-top: 60px;
  display: flex;
}
main aside {
  display: none;
  position: fixed;
  width: 55px;
}
main aside a {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main aside a i {
  margin-bottom: 5px;
}
main aside a span {
  font-size: 0.8rem;
}
main nav {
  position: fixed;
  width: 100%;
  height: 45px;
  display: flex;
  padding-left: 15px;
  align-items: center;
  background: white;
  z-index: 1;
}
main nav a {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}
main nav a.active {
  background-color: #000;
  color: #fff;
}
main section {
  padding-top: 45px;
  display: flex;
}

@media screen and (min-width: 880px) {
  main aside {
    display: block;
  }
  main .main-content {
    padding-left: 55px;
  }
}

/* section - video */
section {
  display: flex;
  flex-wrap: wrap;
}
.video-card {
  width: 350px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
.video-card:hover .video-main video {
  display: block;
}
.video-card:hover .video-main img {
  display: none;
}

.video-main {
  position: relative;
}
.video-main video,
.video-main img {
  width: 100%;
  position: absolute;
}
.video-main img {
  border-radius: 10px;
}
.video-main video {
  display: none;
}
.video-info {
  padding-top: 200px;
  display: flex;
  line-height: 1.2;
}
.video-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.video-info h2 {
  font-weight: bold;
}
.video-info p {
  font-size: 0.9rem;
  color: #555;
}
